@font-face {
    font-family:"Drunk";
    src: url('../assets/fonts/Drunk & Proud.otf') format("opentype");
}

@font-face {
    font-family:"hug";
    src: url("../assets/fonts/Hug Me Tight - OTF.otf") format("opentype");
}


:root {
    --mauve: #210124;
    --bois: #8e443d;
    --ghost: #fffaff;
    --forest_green: #5c6f68;
    --blood_red: #931f1d;
    --black: #050609;
}

* {
    font-family: "hug";
    color: var(--ghost);
    letter-spacing: 2px;
    text-indent: 20px;
    text-align: justify;
}

body {
    overflow-x: hidden;
    background-color: var(--mauve);
}

header {
    display:block;
    width: 100%;
    height: 100vh;
    background-color: var(--mauve);
    background-image: url(../assets/img/img_elements_visuels/arbre_brun.png);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    margin-top: 10px;
    font-family: "Drunk";
    font-size: 6vw;
    letter-spacing: 6px;
    text-align: center;
    color: var(--blood_red);
    text-shadow: 10px 2px 5px var(--ghost);
}

img {
    width: 100vw;
}

h2 {
    font-size: 1.6vw;
    color: var(--forest_green);
    text-align: center;
    text-shadow: 10px 2px 5px var(--blood_red);
}

h3{
    position: relative;
    margin-top: 7%;
    font-size: 12px;
    color: var(--ghost);
    text-align: center;
}

.mouse {
    margin-left: 45%;
    margin-top: 5%;
    height: 15vh;
    width: 10vw;
    background-color: var(--forest_green);
    border-radius: 50px;
 }

 section {
    width: 100%;
    height: 100%;
    margin: 0;
    border: 1px solid var(--blood_red);
 }

 #chapitre_1 {
    background-size: contain;
    text-align: center;
 }

 #chapitre_2 {
    background-size: contain;
    text-align: center;
 }

 #chapitre_3 {
    background-size: contain;
    text-align: center;
 }
 
 #chapitre_4 {
    background-size: contain;
    text-align: center;
 }

 #chapitre_5 {
    background-size: contain;
    text-align: center;
 }

 #chapitre_6 {
    background-size: contain;
    text-align: center;
 }