@font-face {
    font-family:"Drunk";
    src: url('../assets/fonts/Drunk & Proud.otf') format("opentype");
}

@font-face {
    font-family:"hug";
    src: url("../assets/fonts/Hug Me Tight - OTF.otf") format("opentype");
}


:root {
    --mauve: #210124;
    --bois: #8e443d;
    --ghost: #fffaff;
    --forest_green: #5c6f68;
    --blood_red: #931f1d;
    --black: #050609;
}

* {
    font-family: "hug";
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    background-color: var(--mauve);
    height: 100vh;
    text-align: justify;
    color: var(--ghost);
}

header {
    display:block;
    width: 100%;
    height: 100vh;
    background-color: var(--mauve);
    background-image: url(../assets/img/img_elements_visuels/arbre_brun.png);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    margin-top: 10px;
    font-family: "Drunk";
    font-size: 6vw;
    letter-spacing: 25px;
    text-align: center;
    color: var(--blood_red);
    text-shadow: 10px 2px 5px var(--ghost);
}

img {
    width: 100vw;
}

h2 {
    font-size: 1.6vw;
    color: var(--forest_green);
    text-align: center;
    text-shadow: 10px 2px 5px var(--blood_red);
}

h3{
    position: relative;
    margin-top: 7%;
    font-size: 12px;
    color: var(--ghost);
    text-align: center;
}

.mouse {
    margin-left: 45%;
    margin-top: 5%;
    height: 15vh;
    width: 10vw;
    background-color: var(--forest_green);
    border-radius: 50px;
 }

 section {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    border: 1px solid var(--blood_red);
 }

 #chapitre_1 {
    position: relative;
    background-image: url(../assets/img/img_arriere_plan/lit_ch1_bg_1.png);
    background-position: top;
    height: 300vh;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    overflow: hidden;
 }

 #chapitre_2 {
    position: relative;
    background-image: url(../assets/img/img_arriere_plan/bg_chapitre_2.png);
    background-position: top;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
 }

 #chapitre_3 {
    position: relative;
    background-image: url(../assets/img/img_arriere_plan/bg_jade1.png);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
 }
 
 #chapitre_4 {
    position: relative;
    background-image: url(../assets/img/img_arriere_plan/bg_chapitre_4.png);
    background-position: top;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
 }

 #chapitre_5 {
    position: relative;
    background-image: url(../assets/img/img_arriere_plan/bg_chapitre_5.png);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
 }

 #chapitre_6 {
    overflow: hidden;
    position: relative;
    background-image: url(../assets/img/img_arriere_plan/bg_jade1.png);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
 }

 #chapitre_6_suite {
  overflow: hidden;
  position: relative;
  background-image: url(../assets/img/img_arriere_plan/bg_blanc.png);
  background-position: top;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: center;
}

 .foot {
    margin-bottom: 7%;
 }


 .parraleleforest{
    width: 50vw;
 }

 #ch1 {
  position: absolute;
  width: 100vw;
  height: 90vh;
}

 #ch2 {
    position: absolute;
    width: 30vw;
    height: 30vh;
 }


.walk1 {
  position: absolute;
  background-image: url(../assets/img/img_personnage/fille_v.png);
  top: 5%;
  left:-20%;
  height: 1080px;
  animation-name: marche;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(25);
  background-size: 100% -2500%;
  aspect-ratio: 1/1;
  transform: scale(0.2);
}

.walk2 {
  position: absolute;
  background-image: url(../assets/img/img_personnage/fille_v.png);
  top: -35%;
  left: -13vh;
  animation-name: marche;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(25);
  background-size: 100% -2500%;
  aspect-ratio: 1/1;
  height: 1080px;
  transform: scale(0.14);
}

@keyframes marche {
 from {background-position: 0 0;}
 to {background-position: 0 2500%;}
}



 #ch3 {
  position: absolute;
  width: 40vw;
  height: 80vh;
 }
/*ch1 texte*/

#chapitre_1 .elle {
  font-size: 20vh;
  color: var(--blood_red);
}

#chapitre_1 .dort {
  position: absolute;
  font-size: 20vh;
  color: var(--blood_red);
  top: 0;
  right: 35vw;
}



 /*C'EST LA FAUTE À Maïk*/

 /*arbre ch2*/

.branches.brun {
  bottom: 0vh;
  right: 0;
}

.branches.noir {
  bottom: 0vh;
  right: 0;
  z-index: 3;
}
.branches.rouges {
 z-index: 2;
  bottom: 0;
  right: 0vw;
}

 .arbre.noir1 {
   top: 2vh;
   right: 75vw;
 }

 .arbre.noir2 {
    top: 5vh;
    right: 60vw;
  }

  .arbre.noir3 {
    top: 10vh;
    right: 50vw;
  }

  .arbre.noir4 {
    top: 0vh;
    right: 40vw;
  }

  .arbre.noir5 {  
    top: 12vh;
    right: 35vw;
  }

  .arbre.noir6 {
    top: 66vh;
    right: 80vw;
  }

  .arbre.noir7 {
    top: 60vh;
    right: 65vw;
  }

  .arbre.noir8 {
    top: 55vh;
    right: 48vw;
  }

  .arbre.noir9 {
    top: 58vh;
    right: 36vw;
  }

  .arbre.noir10 {
    top: 70vh;
    right: 55vw;
  }

  .arbre.noir11 {
    top: 2vh;
    right: 25vw;
  }

  .arbre.noir12 {
    top: 2vh;
    right: 15vw;
  }

  .arbre.noir13 {
    top: 11vh;
    right: 5vw;
  }

  .arbre.noir14 {
    top: 0vh;
    right: -6vw;
  }

  .arbre.noir15 {
    top: 70vh;
    right: 55vw;
  }

  .arbre.noir16 {
    top: 60vh;
    right: 65vw;
  }

  .arbre.noir17 {
    top: 68vh;
    right: 22vw;
  }

  .arbre.noir18 {
    top: 57vh;
    right: 10vw;
  }

  .arbre.noir19 {
    top: 63vh;
    right: -2vw;
  }

  .arbre.noir20 {
    top: 56vh;
    right: -14vw;
  }

  .arbre.noir21 {
    top: 2vh;
    right: 79vw;
    transform: rotateY(180deg);
  }
 
  .arbre.noir22 {
     top: 5vh;
     right: 60vw;
   }
 
   .arbre.noir23 {
     top: 10vh;
     right: 50vw;
   }
 
   .arbre.noir24 {
     top: 0vh;
     right: 40vw;
   }
 
   .arbre.noir25 {  
     top: 12vh;
     right: 35vw;
   }
 
   .arbre.noir26 {
     top: 66vh;
     right: 80vw;
   }
 
   .arbre.noir27 {
     top: 60vh;
     right: 65vw;
     
   }
 
   .arbre.noir28 {
     top: 55vh;
     right: 48vw;
   }
 
   .arbre.noir29 {
     top: 58vh;
     right: 36vw;
   }
 
   .arbre.noir30 {
     top: 70vh;
     right: 55vw;
   }
 
   .arbre.noir31 {
     top: 2vh;
     right: 25vw;
   }
 
   .arbre.noir32 {
     top: 2vh;
     right: 19vw;
     transform: rotateY(180deg);
   }
 
   .arbre.noir33 {
     top: 11vh;
     right: 5vw;
   }
 
   .arbre.noir34 {
     top: 0vh;
     right: -6vw;
   }
 
   .arbre.noir35 {
     top: 70vh;
     right: 59vw;
     transform: rotateY(180deg);
   }
 
   .arbre.noir36 {
     top: 60vh;
     right: 65vw;
   }
 
   .arbre.noir37 {
     top: 68vh;
     right: 26vw;
     transform: rotateY(180deg);
   }
 
   .arbre.noir38 {
     top: 57vh;
     right: 10vw;
   }
 
   .arbre.noir39 {
     top: 63vh;
     right: -2vw;
   }
 
   .arbre.noir40 {
     top: 56vh;
     right: -14vw;
   }


/*texte ch2*/


#chapitre_2 .text-ch2 {
  position: absolute;
  z-index: 12;
  font-size: 6vh;
  color: var(--blood_red);
  top: 2vh;
  text-shadow: 10px 2px 5px var(--mauve);
  left: 13vw;
}

   /*arbre ch3*/

   .arbre.brun1a {
    right: -2vw;
   }

   .arbre.brun1b {
    right: -7.9vw;
    transform: rotateY(180deg);
   }

   .arbre.brun1c {
    right: -2.2vw;
   }

   .arbre.brun2a {
    top: 10vh;
    right: 70vw;
   }

   .arbre.brun2b {
    top: 10vh;
    right: 70.2vw;
   }

   .arbre.brun2c {
    top: 10vh;
    right: 60vw;
    transform: rotateY(180deg);
   }

/*monstres*/ 

   #chm3 {
    position: absolute;
    width: 30vw;
    height: 30vh;
 }

  .monstre1 {
  top:40vh;
  right: 15vw;
  transform: rotateY(180deg) rotateZ(-10deg);
  }

  .monstre2 {
  top:35vh;
  right: 25vw;
  transform: rotateY(180deg) rotateZ(-10deg) scale(1.5);
  }

  .monstre3 {
  top:135vh;
  right: -25vw;
  transform: rotateY(180deg) rotateZ(-10deg) scale(7);
  }

/*texte ch3*/
#chapitre_3 .text-ch3 {
  position: absolute;
  z-index: 12;
  font-size: 3vh;
  color: var(--ghost);
  top: 5vh;
  text-shadow: 6px 2px 6px var(--black);
  left: 0vw;
}

/*ch4 monstres*/

#ch4 {
  position: absolute;
  width: 10vw;
  height: 20vh;
}  

  #mch4 {
  position: absolute;
  height: 3vh;
  width: 3vw;
  }

 .creepy1 {
  top: 22vh;
  right: 92vw;
  transform: rotateZ(45deg);
 }


 .creepy2 {
  top: 34vh;
  right: 21vw;
  transform: rotateZ(-55deg);
 }

 .creepy3 {
  top: 85vh;
  right: 27.2vw;
  transform: rotateZ(60deg);
 }

/*ch4 arbres*/

#ligne{
  height: 100vh;
  width: 100vw;
  transform: translateX(-5vw);
}
.suivre{
  fill: none;
}
.suivre {
  stroke-width: 10px ;
}

  .arbre.ch4.noir1 {
    top: 10vh;
    right: 89vw;
    z-index: 1;
  }

  .arbre.ch4.noir2 {
    top: 29.3vh;
    width: 60vw;
  }

  .arbre.ch4.noir3 {
    top: 33vh;
    right: 80vw;
    transform: rotateY(180deg);
  }

  .arbre.ch4.noir4 {
    top: 40vh;
    right: 70vw;
  }

  .arbre.ch4.noir5 {
    top: 55vh;
    right: 85vw;
  }

  .arbre.ch4.noir6 {
    top: 77vh;
    right: 83vw;
  }

  .arbre.ch4.noir7 {
    top: 57vh;
    right: 73vw;
  }

  .arbre.ch4.noir8 {
    top: 37vh;
    right: 87vw;
  }

  .arbre.ch4.noir9 {
    top: 23vh;
    right: 17vw;
    transform: rotateY(180deg);
  }

  .arbre.ch4.noir10 {
    top: 46vh;
    right: 23vw;
  }

  .arbre.ch4.noir11 {
    top: 1vh;
    right: 59vw;
  }

  .arbre.ch4.noir12 {
    top: 3vh;
    right: 43vw;
    transform: rotateY(180deg);
  }

  .arbre.ch4.noir13 {
    top: 28vh;
    right: 2vw;
  }

  .arbre.ch4.noir14 {
    top: 58vh;
    right: 48vw;
  }

  .arbre.ch4.noir15 {
    top: 73vh;
    right: 26vw;
    transform: rotateY(180deg);
  }

  .arbre.ch4.noir16 {
    top: 52vh;
    right: 34vw;
  }

  .arbre.ch4.noir17 {
    top: 60vh;
    right: 10vw;
    transform: rotateY(180deg);
  }

  .arbre.ch4.noir18 {
    top: 8vh;
    right: 2vw;
    transform: rotateY(180deg);
  }

  .arbre.ch4.noir19 {
    top: 0.7vh;
    right: 12vw;
  }

  .arbre.ch4.noir20 {
    top: 0.2vh;
    right: 31vw;
    transform: rotateY(180deg);
  }




  .arbre.ch4.noir1b {
    top: 10vh;
    right: 90.5vw;
    transform: rotateY(180deg);
  }

  .arbre.ch4.noir2b {
    top: 29.2vh;
    right: 60vw;
  }

  .arbre.ch4.noir3b {
    top: 33vh;
    right: 80vw;
    transform: rotateY(180deg);
  }

  .arbre.ch4.noir4b {
    top: 40vh;
    right: 70vw;
  }

  .arbre.ch4.noir5b {
    top: 55vh;
    right: 85vw;
  }

  .arbre.ch4.noir6b {
    top: 77vh;
    right: 83vw;
  }

  .arbre.ch4.noir7b {
    top: 57vh;
    right: 73vw;
  }

  .arbre.ch4.noir8b {
    top: 37vh;
    right: 87vw;
  }

  .arbre.ch4.noir9b {
    top: 23vh;
    right: 15.3vw;

  }

  .arbre.ch4.noir10b {
    top: 46vh;
    right: 23vw;
  }

  .arbre.ch4.noir11b {
    top: 1vh;
    right: 59vw;
  }

  .arbre.ch4.noir12b {
    top: 3vh;
    right: 43vw;
    transform: rotateY(180deg);
  }

  .arbre.ch4.noir13b {
    top: 28vh;
    right: 2vw;
  }

  .arbre.ch4.noir14b {
    top: 58vh;
    right: 48vw;
  }

  .arbre.ch4.noir15b {
    top: 73vh;
    right: 24.3vw;
  
  }

  .arbre.ch4.noir16b {
    top: 52vh;
    right: 34vw;
  }

  .arbre.ch4.noir17b {
    top: 60vh;
    right: 10vw;
    transform: rotateY(180deg);
  }

  .arbre.ch4.noir18b {
    top: 8vh;
    right: 2vw;
    transform: rotateY(180deg);
  }

  .arbre.ch4.noir19b {
    top: 0.7vh;
    right: 12vw;
  }

  .arbre.ch4.noir20b {
    top: 0.2vh;
    right: 31vw;
    transform: rotateY(180deg);
  }


/*ch4 texte*/

#chapitre_4 .run {
    position: absolute;
    z-index: 12;
    font-size: 3vh;
    color: var(--black);
    top: 5vh;
    text-shadow: 6px 2px 6px var(--blood_red);
    left: 19vw;
}

#chapitre_4 .big {
  position: absolute;
  z-index: 12;
  font-size: 6vh;
  color: var(--black);
  top: 2vh;
  text-shadow: 6px 2px 6px var(--blood_red);
  left: 1vw;
}


  /*ch5*/



  #ch5 {
    position: absolute;
    width: 23vw;
    height: 50vh;
  }


  .arbre.ch5.noir1 {
    top: 5vh;
    right: 15vw;
  }

  .arbre.ch5.noir1b {
    top: 5vh;
    right: 15vw;
  }

  .arbre.ch5.noir2 {
    top: 35vh;
    right: 80vw;
    transform: rotateY(180deg);
  }

  .arbre.ch5.noir2b {
    top: 35vh;
    right: 80vw;
    transform: rotateY(180deg);
  }

  .arbre.ch5.brun1a {
    top: 45vh;
    right: 0vw;
  }

  .arbre.ch5.brun1b {
    top: 45vh;
    right: -5vw;
  }

  .arbre.ch5.brun2a {
    top: 3vh;
    right: 58vw;
    transform: rotateY(180deg);
  }

  .arbre.ch5.brun2b {
    top: 3vh;
    right: 58vw;
    transform: rotateY(180deg);
  }
/*ch5 autre img*/

  #plante {
    position: absolute;
    }
  
  .fillep {
  transform: rotateZ(198deg) scale(0.2); 
  top:21vh;
  right: 3vw;
  } 
  
  #danger {
  position: absolute;
  }
  
  .grrr {
  top: -26vh;
  right:  2.2vw;
  transform: scale(0.18);
    }

/*ch5 texte*/

.oh-non {
  position: absolute;
  z-index: 12;
  font-size: 6vh;
  color: var(--ghost);
  top: 2vh;
  text-shadow: 7px 5px 6px var(--blood_red);
  left: 1vw;
}

/*ch6*/

.cloud {
  position: absolute;
  background-image: url(../assets/img/img_elements_visuels/cloud.png);
  width: 20%;
  top: 6%;
  left: 20vw;
  animation-name: flying;
  animation-duration: 5s;
  aspect-ratio: 1/1;
  animation-iteration-count: infinite;
  animation-timing-function: steps(120);
  background-size: 12000% 100% ;
}

@keyframes flying {
  from {background-position: 0 0;}
  to {background-position: -12000% 0%;}
}

  #ch6 {
    position: absolute;
    width: 40vw;
    height: 80vh;
  }

  .arbre.ch6.noir1 {
    top: 3vh;
    right: 70vw;
    transform: rotateY(180deg);
  }

  .arbre.ch6.noir1b {
    top: 3vh;
    right: 65vw;
  }

  .arbre.ch6.noir1c {
    top: 3vh;
    right: 70vw;
    transform: rotateY(180deg);
  }

  .arbre.ch6.noir1d {
    top: 3vh;
    right: 65vw;
  }

  .arbre.ch6.noir2 {
    top: 16vh;
    right: -8vw;
  }

  .arbre.ch6.noir2b {
    top: 16vh;
    right: -8vw;
  
  }

#jade {
position: absolute;
}

#hand {
  position: absolute;
}

.fille {
  right: 5vw;
  bottom: 0vh;
}

.main {
  right: 2vw;
  bottom: -5vh;
  transform: rotateZ(-10deg);
}
  
/*ch6 texte*/

#chapitre_6 .peur {
  position: absolute;
  z-index: 12;
  font-size: 3vh;
  color: var(--ghost);
  top: 2vh;
  text-shadow: 7px 5px 6px var(--blood_red);
  left: 10vw;
}



/*ch6 suite*/

#ch6-5 {
  width: 40vw;
  height: 40vh;
}

.pa {
  position: absolute;
 top:30vh;
 right: 60vh;
 transform: skewX(-13deg) skewy(-13deg);
}

#eye {
  position: absolute;
}

.closed {
  top: -20vh;
  right:0vw;
}

.open {
  top: -20vh;
  right:0vw;
}

#humide {
  position: absolute;
}

.goutte{
  top: 50vh;
  right:50vw;
}

#dege {
  position: absolute;
}

#drool {
  position: absolute;
  bottom: -75%;
  right:-0%;
  transform: scale(0.5);
}
.bave {
  fill:transparent;
}

.bave {
  stroke:var(--black) ;
  stroke-width:125px  ;
}

#smile {
  position: absolute;
}



/*cha6 suite texte*/
#chapitre_6_suite .bon_matin {
  position: absolute;
  z-index: 12;
  font-size: 3vh;
  color: var(--blood_red);
  top: 2vh;
  text-shadow: 7px 5px 6px var(--mauve);
  left: 10vw;
}


.wake {
  position: absolute;
  transform: scale(1.2) rotate(-90deg) translateY(58vw) translateX(7vh) scaleX(1.2);
  z-index: 10;
}

#eye2{
  visibility: hidden;
}

/*techniques utilisée*/
ul.technique-gsap{
  background: rgba(0,0,0,0.3);
  color: white;
  font-size: 10px;
  font-family: monospace;
  font-weight: 400;
  width: auto;
  display: none;
  display: inline-block;
  padding: 10px 20px 12px 20px;
  margin: 0;
  max-width: 300px;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
}

ul.technique-gsap li{
  margin: 5px 0;
}