@font-face {
    font-family:
    src: url(./)
}


:root {
    --mauve: #210124;
    --bois: #8e443d;
    --ghost: #fffaff;
    --forest_green: #5c6f68;
    --blood_red: #931f1d;
    --black: #050609;
}